@model ToolStore.UI.Models.ProductShipmentDetailsViewModel

<style>
    .dng {
        font-size: 15px;
        color: brown;
    }
</style>

<div class="col-md-3"></div>
<div class="col-md-6">
    <div class="text-center">
        <h2 class="text-primary">Shipment details</h2>
        <span style="font-size: 20px">Please enter your shipment details</span>
        <br/>
        <span class="dng">(* marked fields are required)</span>
    </div>
    <br/>
    <div class="well">
        <h4>Your order is: @Model.Product.Name</h4>
        <span>
        @Model.Product.Description
        <br />
        <strong class="text-primary">Price: @Model.Product.Price.ToString("C")</strong>
    </span>
    </div>

    @using (Html.BeginForm("Checkout", "Shipment"))
    {
        @Html.HiddenFor(m => m.Product.Id)
        <div class="text-danger">
            @Html.ValidationSummary()
        </div>
        <hr/>

        <div style="padding-left: 28%" class="center-block form-horizontal">
            <h3>Ship to</h3>
            <div class="form-group">
                <label><span class="dng">*</span>First name:</label>
                @Html.TextBoxFor(m => m.ShippingCredentials.FirstName, new {@name = "fname", required = "required", maxlength = "30", @class = "form-control"})
                <label><span class="dng">*</span>Second name:</label>
                @Html.TextBoxFor(m => m.ShippingCredentials.SecondName, new {@name = "sname", required = "required", maxlength = "30", @class = "form-control"})
            </div>

            <h3>Contacts</h3>
            <div class="form-group">
                <label><span class="dng">*</span>Address:</label>
                @Html.TextBoxFor(m => m.ShippingCredentials.Address, new {@name = "address", required = "required", @class = "form-control"})
                <label><span class="dng">*</span>Phone number:</label>
                @Html.TextBoxFor(m => m.ShippingCredentials.Phone, new {@name = "phone", required = "required", @class = "form-control"})
                <label><span class="dng">*</span>Email address:</label>
                @Html.TextBoxFor(m => m.ShippingCredentials.Email, new {@name = "email", required = "required", type = "email", @class = "form-control"})
            </div>
        </div>

        <div style="text-align: center">
            <input type="submit" value="Check it out" class="btn btn-lg btn-block btn-primary center-block"/>
        </div>
    }
</div>
<div class="col-md-3"></div>