@model ToolStore.Domain.Entities.Product

<div class="col-xs-6 col-md-4 well well-sm">
    <img src="@Model.PicturePath" class="img-thumbnail center-block" width="200" height="200" />
    <h4>
        
        <strong>@Model.Name</strong>
        <strong class="pull-right label label-info">@Model.Price.ToString("C")</strong>
    </h4>
    @using (Html.BeginForm("Buy", "Shipment"))
    {
        <div class="pull-right">
            @Html.HiddenFor(p => p.Id)
            <input type="submit" class="btn btn-success btn-lg" value="Buy it" />
        </div>
    }
    
    @using (Html.BeginForm("Details", "Product"))
    {
        <div>
            @Html.HiddenFor(p => p.Id)
            @Model.Description.Substring(0, 20)..
            <input type="submit" class="btn btn-link" value="Learn more" />
        </div>
    }
</div>
